<!DOCTYPE html>
   <body>
    <div class="wrapper">
      <h1>Event Management</h1>
       <nav>
          
            <!-- <input type="radio" name="tab" id="home" checked>
            <input type="radio" name="tab" id="inbox">
            <input type="radio" name="tab" id="login">
            <input type="radio" name="tab" id="register">
            <input type="radio" name="tab" id="about"> -->
            <!-- <label for="home" class="home"><a href="#"><i class="fas fa-home"></i>Home</a></label>
            <label for="inbox" class="inbox"><a href="#"><i class="far fa-comment"></i>Inbox</a></label> -->
            <!-- <label for="login" class="login"><a routerLink="login"><i class="far fa-login"></i>login</a></label> -->
            <!-- <a for="home" class="home"><a routerLink="home"><i class="far fa-home"></i>Home</a></a>><br>          
            <a for="inbox" class="inbox"><a routerLink="inbox"><i class="far fa-inbox"></i>Inbox</a></a>><br>
            <a for="login" class="login"><a routerLink="login"><i class="far fa-login"></i>login</a></a>><br>
            <a for="register" class="register"><a routerLink="register"><i class="far fa-register"></i>register</a></a>>
            <a for="about" class="about"><a routerLink="about"><i class="far fa-about"></i>About</a></a>><br> -->
            <div class="container"> 
              <!-- Example row of columns -->
              
            
            
            
            
              <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6"> <a routerLink="home" class="btn btn-sm animated-button thar-one">Home</a> </div>
                <div class="col-md-3 col-sm-3 col-xs-6"> <a routerLink="login" class="btn btn-sm animated-button thar-two">Login</a> </div>
                <div class="col-md-3 col-sm-3 col-xs-6"> <a routerLink="register" class="btn btn-sm animated-button thar-three">Register</a> </div>
                <div class="col-md-3 col-sm-3 col-xs-6"> <a routerLink="eventbooking" class="btn btn-sm animated-button thar-four">Book Now</a> </div>
              </div>
            </div>

            <!-- <label for="register" class="register"><a href="#"><i class="far fa-register"></i>register</a></label> -->
            <!-- <label for="about" class="about"><a href="#"><i class="far fa-user"></i>About</a></label> -->
            <div class="tab"></div>
         </nav>
      </div>
      
      
      </body>
   


   <!-- <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <ul>
            <li class="nav-item">
      <a class="nav-link" routerLink="register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">Login</a>
    </li>

           </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div>
    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1558e96" data-id="1558e96" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"><div class="elementor-widget-wrap elementor-element-populated"><div class="elementor-element elementor-element-6724b7f elementor-widget elementor-widget-heading" data-id="6724b7f" data-element_type="widget" data-widget_type="heading.default"><div class="elementor-widget-container"><h2 class="elementor-heading-title elementor-size-default">Social Events</h2></div></div><div class="elementor-element elementor-element-450d6e6 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="450d6e6" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">Weddings &amp; Receptions</span></li></ul></div></div><div class="elementor-element elementor-element-83e38d3 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="83e38d3" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">Engagements</span></li></ul></div></div><div class="elementor-element elementor-element-36bb953 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="36bb953" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">Kitty Parties</span></li></ul></div></div><div class="elementor-element elementor-element-a07ba82 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a07ba82" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">Cradle Ceremonies</span></li></ul></div></div><div class="elementor-element elementor-element-f50b02c elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="f50b02c" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">Birthdays</span></li></ul></div></div><div class="elementor-element elementor-element-5d4e641 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="5d4e641" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">60th Anniversaries</span></li></ul></div></div><div class="elementor-element elementor-element-aa85d60 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="aa85d60" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">Graduation Celebrations</span></li></ul></div></div><div class="elementor-element elementor-element-627b052 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="627b052" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">Baby Showers</span></li></ul></div></div><div class="elementor-element elementor-element-1140adb elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1140adb" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">Retirement Farewells</span></li></ul></div></div><div class="elementor-element elementor-element-1dae92d elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1dae92d" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
      <span class="elementor-icon-list-icon">
      <i aria-hidden="true" class="fas fa-check"></i>						</span>
      <span class="elementor-icon-list-text">Cocktail Parties</span></li></ul></div></div></div></div>
    </div>
    <div>
      <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6569c92" data-id="6569c92" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"><div class="elementor-widget-wrap elementor-element-populated"><div class="elementor-element elementor-element-7632a22 elementor-widget elementor-widget-heading" data-id="7632a22" data-element_type="widget" data-widget_type="heading.default"><div class="elementor-widget-container"><h2 class="elementor-heading-title elementor-size-default">Business Events</h2></div></div><div class="elementor-element elementor-element-23e99b7 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="23e99b7" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Business Meets</span></li></ul></div></div><div class="elementor-element elementor-element-6316566 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="6316566" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Seminars</span></li></ul></div></div><div class="elementor-element elementor-element-8275811 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="8275811" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Conferences</span></li></ul></div></div><div class="elementor-element elementor-element-39d6f70 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="39d6f70" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Exhibitions</span></li></ul></div></div><div class="elementor-element elementor-element-ba198a1 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="ba198a1" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Product Launches</span></li></ul></div></div><div class="elementor-element elementor-element-a58de4d elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a58de4d" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Dealers Meets</span></li></ul></div></div><div class="elementor-element elementor-element-70694c5 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="70694c5" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Educational Programmes</span></li></ul></div></div><div class="elementor-element elementor-element-1f9f39c elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1f9f39c" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Management Programmes</span></li></ul></div></div><div class="elementor-element elementor-element-65c2237 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="65c2237" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Training Programmes</span></li></ul></div></div><div class="elementor-element elementor-element-bd24010 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="bd24010" data-element_type="widget" data-widget_type="icon-list.default"><div class="elementor-widget-container"><ul class="elementor-icon-list-items"><li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fas fa-check"></i>						</span>
        <span class="elementor-icon-list-text">Interview Sessions</span></li></ul></div></div></div></div>

    </div> -->